name: Run tests with pytest

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  ty:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install the project
        run: uv sync --locked --extra cpu --dev
      - name: Run tests with pytest
        run: uv run --no-sync pytest
