name: uv

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  ty:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --extra cpu --dev

      - name: ty-check
        run: uv run --no-sync ty check

      - name: import-linter
        run: uv run --no-sync lint-imports

      - name: pytest
        run: uv run --no-sync pytest
