name: Run pre-commit hooks that require project environment

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  ty:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install the project
        run: uv sync --locked --extra cpu --dev
      - name: Type check with ty
        run: uv run --no-sync ty check
      - name: Import linting with import-linter
        run: uv run --no-sync lint-imports
